/* =========================
   📌 Styles généraux de Tableau de bord Admin
========================= */

.admin-dashboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 20px;
}

/* =========================
     📌 Section d'Accueil
  ========================= */

.admin-dashboard-header {
  background-color: var(white);
  color: var(--light-color);
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 30px;
}

.admin-dashboard-header h1 {
  font-size: 2.5rem;
}

.admin-dashboard-header p {
  font-size: 1.2rem;
  margin: 15px 0;
}


.highlight {
  color: #e87017;
}

.admin-cards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.admin-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 280px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  transition: transform 0.2s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.admin-card:hover {
  transform: translateY(-4px);
}

.admin-card h2 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.admin-card-button {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  font-weight: bold;
}

.admin-card-button:hover {
  background-color: #0056b3;
}

@media (width <= 768px) {
  .admin-dashboard-header {
    max-width: 100%;
    padding: 30px 20px;
  }

  .admin-dashboard-header h1 {
    font-size: 2rem;
  }

  .admin-dashboard-header p {
    font-size: 1rem;
    padding: 10px 0;
  }
  
  .admin-cards {
    flex-direction: column;
    align-items: center;
  }

  .admin-card {
    width: 90%;
  }
}
