/* =========================
   📌 Styles du Layout
========================= */

.layout {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   width: 100vw;
   background-color: var(--primary-back-color);
   top: 0; /* ✅ Évite tout décalage */
   left: 0;
 }
 
 /* ✅ Décalage pour ne pas que le contenu soit sous le header */
 .main {
   flex-grow: 1;
   margin-top: 1vh !important; /* 🔥 Ajustement global */
   padding: 20px;
   padding-top: 0; /* ✅ Ajoute un espace sous le header */
 }

 
 /* 📌 Conteneur du contenu centré */
 .content-container {
   width: 100%;
   max-width: 1200px;
   background-color: var(--primary-back-color);
   padding: 20px;
   box-sizing: border-box;
   margin: 0 auto; /* Centre le contenu */
 }
 
 /* =========================
    📌 Ajustements Responsive du Layout
 ========================= */
 
@media (width <= 768px) {
  .main { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed; /* ✅ Force le modal à rester bien centré */
    top: 0; /* ✅ Évite tout décalage */
    left: 0;
    width: 100vw;
    min-height: 100vh;
  }
 }
 