/* ==========================================
   📌 Layout principal - FlexibleLayout.css
========================================== */

/* ========== Header Sticky ========== */
.header-layout {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: var(--header-height);
  width: 100%;
  background-color: var(--primary-back-color);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
}

/* ========== Layout global ========== */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ========== Conteneur principal ========== */
.content-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Section principale, en-dessous du header */
.content-layout-header {
  margin-top: var(--header-height); /* espace pour le header sticky */
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ========== Footer ========== */
.footer-layout {
  height: var(--footer-height);
}

.footer-hidden {
  display: none;
}

.header-hidden {
  display: none;
}

/* ==========================================
   📱 Responsive
========================================== */
@media (width <= 768px) {
  .header-layout {
    padding: 0 10px;
    box-shadow: none;
    margin-bottom: 2320px;
  }

  .content-layout-header {
    padding-top: var(--header-height);
  }

  .footer-layout {
    padding: 10px;
    text-align: center;
  }
}
