/* ==========================================
   📌 Styles du Layout - FlexibleLayout.css
========================================== */

/* ========== Header Sticky ========== */

.header-layout {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: var(--header-height);
  width: 100%;
  background-color: var(--primary-back-color);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
}

.header-hidden {
  display: none;
}

/* =========================
   📌 Conteneur principal (Main + Footer)
========================= */
.content-layout {
  min-height: 100vh;
  margin-top: var(--header-height); /* Espace pour le header sticky */
  display: flex;
  flex-direction: column; /* Aligne les enfants verticalement */
  flex: 1; /* Permet à content-layout de s'étendre pour occuper l'espace disponible */
  flex-shrink: 0;
}

/* ========== Main ========== */

.main-layout {
  flex: 1; /* Le contenu principal prend l'espace restant avant le footer */
  padding: 20px;
}

/* Optionnel : compensation du header sticky si besoin */
.content-layout-with-header {
  margin-top: calc(var(--header-height) + 180px)  
}

/* =========================
   📌 Footer
========================= */
.footer-layout {
  height: var(--footer-height); /* Hauteur fixe pour le footer */
  padding: 20px;
}

.footer-hidden {
  display: none;
}
